
<div class="container">
    <div class="conteudo">
        <div class="fundo1">
            <img src="assets/imagens/fundo1.png" alt="" class="fundo">
        </div>
    
        <div class="fundo2">
            <img src="assets/imagens/fundo2.png" alt="" class="fundo">
        </div>

        <div class="fundo3">
            <img src="assets/imagens/fundo3.png" alt="" class="fundo">
        </div>

        <div class="fundo4">
            <img src="assets/imagens/fundo4.png" alt="" class="fundo">
        </div>

        <div class="fundo5">
            <img src="assets/imagens/fundo5.png" alt="" class="fundo">
        </div>

        <div class="home">
            <div class="logo">
                <img src="assets/imagens/nextech.png" alt="">
            </div>
    
            <div class="entrega">
                <button> <div></div> Hospedagem e domínio gratuitos por 1 ano</button>
            </div>
            
    
            <div class="titulo-principal">
                <h1>Desenvolvemos sites <br>impactantes para <br><span class="destaque">impulsionar</span>  seu negócio.</h1>
                <p>Potencialize Suas Vendas com Nossas Páginas Estrategicamente Projetadas!</p>
            </div>
    
            <div class="falar">
                <button (click)="redirecionarWhatsapp()">Falar com especialista</button>
            </div>

            <div class="icones">
                <img src="assets/imagens/icones.png" alt="">
                <p>+ de 10 parceiros pelo Brasil</p>
            </div>
        </div>
    </div>

    <div class="conteudo-por-equipe">
        <div class="equipe">
            <h1 class="pq">Por que escolher nossa equipe?</h1>

            <div class="cards-equipe">
                <div class="card">
                    <img src="assets/imagens/layout.png" alt="">
                    <h1>Layouts modernos</h1>
                    <p>designers especializados criam layouts modernos e atraentes que não apenas captam a atenção.</p>
                </div>

                <div class="card">
                    <img src="assets/imagens/codigo.png" alt="">
                    <h1>Código eficiente</h1>
                    <p>Nosso time de desenvolvimento utiliza práticas ágeis para entregar soluções eficientes e escaláveis.</p>
                </div>

                <div class="card">
                    <img src="assets/imagens/atendimento.png" alt="">
                    <h1>Atendimento personalizado</h1>
                    <p>Valorizamos o relacionamento com nossos clientes oferecendo suporte contínuo e personalizado.</p>
                </div>
            </div>

            <p class="diferencial">Nossos diferenciais destacam nossa abordagem centrada no cliente e na inovação.</p>
        </div>
        

        <div class="projetos" ngsReveal>

            <div class="imagens-projeto">
                <div class="projeto" id="projeto1">
                    <img src="assets/imagens/img1.png" alt="">
                </div>
        
                <div class="projeto">
                    <img src="assets/imagens/img2.png" alt="">
                </div>
            </div>

            <div class="texto-projetos">
                <h1>Veja nossos <br class="primeira-quebra"> projetos <br class="quebra"> recentes.</h1>
                <p class="inspirese">Inspire-se com nossa galeria de sucessos <br>
                    e visualize o nosso passo a passo</p>
                    <img src="assets/imagens/linha.png" alt="" class="linha">
                    <div class="texto-linha">
                        <p>Layouts <br>personalizados</p>
                        <p class="meio">Integração de <br>funcionalidades</p>
                        <p>Testes antes <br>
                            do lançamento</p>
                    </div>
                <button class="falar-projeto" (click)="redirecionarWhatsapp()">Falar com especialista</button>

            </div>
        </div>

        <div class="etapas-container" >

            <img src="assets/imagens/linha-curva.png" alt="Linha Curva"  class="desktop">
            <img src="assets/imagens/linha-curva-vertical.png" alt="Linha Curva"  class="mobile">


            <div class="stape stape1">
                <h1>Stape 01</h1>
                <h2>Definição Estratégica</h2>
                <p>Iniciamos com uma consulta detalhada para entender seus objetivos e requisitos. Analisamos o mercado e a concorrência para criar uma estratégia alinhada com suas metas de negócio.</p>
            </div>
            <div class="stape stape2">
                <h1>Stape 02</h1>
                <h2>Criação Visual</h2>
                <p>Nossa equipe de design trabalha na criação de wireframes e protótipos interativos. Aplicamos a identidade visual da sua marca para garantir um design atraente e funcional, sempre com revisões para garantir sua aprovação.</p>
            </div>
            <div class="stape stape3">
                <h1>Stape 03</h1>
                <h2>Construção e Integração</h2>
                <p>A etapa de desenvolvimento envolve a codificação do site utilizando tecnologias modernas e escaláveis. Implementamos funcionalidades específicas e realizamos testes rigorosos para assegurar a qualidade e a performance do seu site.</p>
            </div>
            <div class="stape stape4">
                <h1>Stape 04</h1>
                <h2>Entrega e Suporte Contínuo</h2>
                <p>Após os testes finais, preparamos o lançamento do seu site. Oferecemos suporte pós-implantação, treinamento para sua equipe e monitoramento contínuo para garantir que seu site esteja sempre otimizado e seguro.</p>
            </div>
        </div>

        
            
    </div>

    <div class="conteudo-moderno">
    
        <div class="moderno">
            <div class="img-pc">
                <img src="assets/imagens/computador.png" alt="">
            </div>

            <div class="texto-pc">
                <h1>Por que é crucial investir em um site moderno?</h1>

                <p> Investir em um site moderno não é apenas uma atualização estética, mas uma estratégia crucial para competir no mercado digital atual. Um site bem projetado não só atrai visitantes, mas também os mantém engajados, convertendo mais leads em clientes.<br><br>

                Ele funciona como uma vitrine virtual da sua marca, transmitindo profissionalismo, confiança e oferecendo uma experiência de usuário superior.<br><br>
                    
                Além disso, um site otimizado para dispositivos móveis e com conteúdo relevante para SEO pode aumentar significativamente sua visibilidade nos motores de busca, atraindo tráfego orgânico e fortalecendo sua posição no mercado.</p>
            </div>
        </div>

        <div class="clientes">
            <h1>O que nossos clientes dizem</h1>
            <p class="sub-clientes">A satisfação do cliente é nossa prioridade número um. Veja o <br>que alguns de nossos clientes têm a dizer</p>

            <div class="cards-clientes">
                <div class="card-cliente">
                    <div class="topo">
                        <img src="assets/imagens/site1.jpeg" alt="" class="icon-cliente">

                        <div>
                            <h1>Miguel Pereira</h1>
                            <p>www.pegasus.com.br</p>

                            <div class="estrela">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                            </div>
 
                        </div>


                    </div>

                    <h1 class="titulo">Excelente trabalho</h1>
                    <p class="discurso">Estou muito satisfeita com o trabalho da equipe! O site ficou incrível, reflete perfeitamente a nossa identidade visual e já estamos recebendo mais contatos de clientes potenciais.</p>
                </div>

                <div class="card-cliente">
                    <div class="topo">
                        <img src="assets/imagens/site2.png" alt="" class="icon-cliente">

                        <div>
                            <p>Lucas Andrade</p>
                            <p>www.bncgbank.com.br</p>

                            <div class="estrela">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                            </div>
 
                        </div>


                    </div>

                    <h1 class="titulo">Qualidade impecável</h1>
                    <p class="discurso">A equipe foi extremamente profissional e dedicada desde o início até o lançamento. O suporte pós-implantação tem sido excelente, sempre prontos em qualquer problema."</p>
                </div>

                <div class="card-cliente">
                    <div class="topo">
                        <img src="assets/imagens/site3.jpg" alt="" class="icon-cliente">

                        <div>
                            <p>Daniel Tueros</p>
                            <p>www.petbrown.com.br</p>

                            <div class="estrela">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                                <img src="assets/imagens/star.png" alt="">
                            </div>
 
                        </div>


                    </div>

                    <h1 class="titulo">Compromisso com o projeto</h1>
                    <p class="discurso">Contratamos para um projeto desafiador e eles não apenas entregaram dentro do prazo, mas também superaram nossas expectativas em termos de design e funcionalidade.</p>
                </div>

            </div>
        </div>

        <div class="duvida">
            <h1 class="titulo-duvida">Ficou alguma dúvida?</h1>
            <img src="assets/imagens/divisoria.png" alt="">
            <div class="pergunta" (click)="toggleResposta('resposta1')">
                <h1>01</h1>
                <p>Como posso atualizar meu site após o lançamento? <span>+</span></p>
            </div>
            
            <div class="resposta" [ngClass]="{'expandir': respostas['resposta1']}">
                <p>Após o lançamento do seu site, você terá acesso a um painel de controle intuitivo que permite atualizar facilmente o conteúdo, adicionar novas páginas, fazer upload de imagens e muito mais. Se preferir, nossa equipe também pode fornecer suporte contínuo para garantir que seu site esteja sempre atualizado e otimizado.</p>
            </div>

            <img src="assets/imagens/divisoria.png" alt="">
            <div class="pergunta" (click)="toggleResposta('resposta2')">
                <h1>02</h1>
                <p>Vocês oferecem suporte técnico após a conclusão do projeto? <span>+</span></p>
            </div>

            <div class="resposta" [ngClass]="{'expandir': respostas['resposta2']}">
                <p>Sim, oferecemos suporte técnico contínuo após a conclusão do projeto. Nossa equipe está disponível para ajudar com qualquer problema técnico, atualizações de conteúdo, integração de novas funcionalidades e muito mais. Você pode entrar em contato conosco a qualquer momento para obter assistência.</p>
            </div>

            <img src="assets/imagens/divisoria.png" alt="">
            <div class="pergunta" (click)="toggleResposta('resposta3')">
                <h1>03</h1>
                <p>Quanto tempo leva para desenvolver um site personalizado? <span>+</span></p>
            </div>

            <div class="resposta" [ngClass]="{'expandir': respostas['resposta3']}">
                <p>O tempo de desenvolvimento de um site personalizado pode variar dependendo da complexidade do projeto, do número de páginas, das funcionalidades específicas e dos requisitos de design. Em média, o processo de desenvolvimento pode levar de 4 a 8 semanas, mas nossa equipe trabalha diligentemente para garantir que seu site seja lançado o mais rápido possível, sem comprometer a qualidade.</p>
            </div>

            <img src="assets/imagens/divisoria.png" alt="">
            <div class="pergunta" (click)="toggleResposta('resposta4')">
                <h1>04</h1>
                <p>Qual é o custo médio para criar um site do zero? <span>+</span></p>
            </div>

            <div class="resposta" [ngClass]="{'expandir': respostas['resposta4']}">
                <p>O custo de criar um site do zero pode variar dependendo das necessidades específicas do projeto, do escopo de trabalho, das funcionalidades desejadas e do design personalizado. Nossa equipe trabalha com você para entender suas metas e orçamento, e fornecer uma proposta personalizada que atenda às suas necessidades e expectativas.<p>
            </div>

            <img src="assets/imagens/divisoria.png" alt="">
            <div class="pergunta" (click)="toggleResposta('resposta5')">
                <h1>05</h1>
                <p>Meu site será otimizado para dispositivos móveis? <span>+</span></p>
            </div>

            <div class="resposta" [ngClass]="{'expandir': respostas['resposta5']}">
                <p>Sim, todos os sites que desenvolvemos são otimizados para dispositivos móveis, garantindo uma experiência de usuário consistente e de alta qualidade em smartphones, tablets e outros dispositivos móveis. Isso não só melhora a usabilidade do seu site, mas também ajuda a melhorar sua classificação nos motores de busca.</p>
            </div>
        </div>

        <div class="contato">

           <!-- SVG Element -->
           <img class="svg" src="assets/imagens/retangulo.png" alt="">
            
            <!-- Formulário -->
            <div class="bloco-esquerda">
                <h1>Entre em contato</h1>
                <p>Entre em contato conosco para discutir seu próximo projeto ou para obter mais<br> informações sobre nossos serviços.</p>
                <form (ngSubmit)="enviar()" #contactForm="ngForm" class="form-container">
                <div class="inputs">
                    <input type="text" name="nome" placeholder="Nome" [(ngModel)]="nome" required>
                    <input type="text" name="numero" placeholder="Whatsapp" [(ngModel)]="numero" required>
                </div>
                <div class="inputs-segunda-linha">
                    <input type="email" name="email" placeholder="seuemail@email.com" [(ngModel)]="email" required>
                    <button type="submit" class="enviar">Enviar</button>
                </div>
                </form>
            </div>

            <div class="bloco-direita">
                <img src="assets/imagens/contato.png" alt="">
                
            </div>

        </div>
    </div>

    <div class="rodape">
        <div class="conteudo-rodape">
            <div class="logo-rodape">
                <img src="assets/imagens/nextech.png" alt="">
            </div>
    
            <div class="copy">
                <p>© 2024 Nextech. Todos os direitos reservados.</p>
            </div>
    
            <div class="redes-sociais">
                <img src="assets/imagens/redes/face.png" alt="">
                <img src="assets/imagens/redes/linkedin.png" alt="">
                <img src="assets/imagens/redes/whats.png" alt="">
            </div>
        </div>
        
    </div>
    
</div>



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">